/* Example CSS file: Todo.css */


.todo-container {
 /* Adjust the path according to your image location */
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-content {
  background: rgba(255, 255, 255, 0.8); /* Optional: Add a slight white background with opacity for better readability */
  padding: 20px;
  border-radius: 10px;
}


.todo-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Places the video behind other content */
}